<%- include('partials/header') -%>
<section class="bg-white dark:bg-white">
    <div class="container px-6 py-12 mx-auto">
        <h1 class="text-2xl font-semibold text-blue-700 lg:text-3xl">Snorkeling guidelines to live by</h1>

        <div class="grid grid-cols-1 gap-14 mt-8 lg:mt-16 md:grid-cols-2">
            <div>
                <div class="flex justify-center">
                    <div class="inline-block w-14 h-14 text-white bg-blue-600 rounded-lg grid place-items-center">
                        <i class="fa-solid fa-umbrella-beach text-4xl"></i>
                    </div>
                </div>

                <div>
                    <h1 class="text-2xl font-semibold text-blue-700 text-center mt-4">Reefsafe Sunscreen</h1>

                    <p class="mt-2 text-base leading-relaxed text-gray-800">
                        Chemicals commonly found in sunscreen lead to coral bleaching and the loss of marine habitat.
                        Make sure the <span class="font-semibold">only</span> active ingredients in your screen are
                        <span class="font-semibold">Zinc Oxide</span> and/or <span class="font-semibold">Titanium
                            Dioxide</span>. Everything else is most likely harmful. Help protect our reefs and learn
                        more from reputable sources like <a href="https://www.reefsafesunscreen.org/" target="_blank"
                            class="text-blue-700 hover:underline transition-all duration-300">https://savethereef.org/</a>.
                    </p>
                    <p class="text-base leading-relaxed text-blue-700 mt-3 font-semibold"> Steer clear of:
                    <ul class="list-disc ml-6 text-base leading-relaxed text-gray-800 space-y-2">
                        <li>Oxybenzone</li>
                        <li>Octinoxate</li>
                        <li>Octocrylene</li>
                        <li>Homosalate</li>
                        <li><a href="https://www.reefsafesunscreen.org/" target="_blank"
                                class="text-blue-700 hover:underline transition-all duration-300">...and more</a></li>
                    </ul>
                    </p>
                </div>
            </div>

            <div>
                <div class="flex justify-center">
                    <div class="flex justify-center">
                        <div class="inline-block w-14 h-14 text-white bg-blue-600 rounded-lg grid place-items-center">
                            <i class="fa-solid fa-person-swimming text-4xl"></i>
                        </div>
                    </div>
                </div>

                <div>
                    <h1 class="text-2xl font-semibold text-blue-700 text-center mt-4">Swim horizontally and avoid
                        touching coral</h1>

                    <p class="mt-2 text-base leading-relaxed text-gray-800">
                        Touching coral are harmful to both them and you. Additionally, rocks covered in algae serve as
                        natural food sources for many marine animals including turtles. Always swim horizontally to keep
                        everyone safe and avoid touching anything.
                        </br>
                        </br>If you need to tread water for a breather, move to a spot with deeper water clear of nearby
                        rocks and coral. Though the reef may provide calm waters, always stay mindful of the waves and
                        currents!
                    </p>
                </div>
            </div>

            <div>
                <div class="flex justify-center">
                    <div class="flex justify-center">
                        <div class="inline-block w-14 h-14 text-white bg-blue-600 rounded-lg grid place-items-center">
                            <i class="fa-solid fa-cloud-sun text-4xl"></i>
                        </div>
                    </div>
                </div>

                <div>
                    <h1 class="text-2xl font-semibold text-blue-700 text-center mt-4">Swim only in fair weather</h1>

                    <p class="mt-2 text-base leading-relaxed text-gray-800">
                        Rain creates a host of problems for swimming including increased currents and flash floods.
                        Toxic runoff picked up from land is most notorious for causing infections and diseases. If the
                        water is especially murky, it's best to wait between 48-72 before going in.
                        </br>
                        </br> "If the water is brown, turn around!"
                    </p>
                </div>
            </div>

            <div>
                <div class="flex justify-center">
                    <div class="flex justify-center">
                        <div class="inline-block w-14 h-14 text-white bg-blue-600 rounded-lg grid place-items-center">
                            <i class="fa-regular fa-sun text-4xl"></i>
                        </div>
                    </div>
                </div>

                <div>
                    <h1 class="text-2xl font-semibold text-blue-700 text-center mt-4">Swim after dawn and before
                        dusk</h1>

                    <p class="mt-2 text-base leading-relaxed text-gray-800">
                        Predators are most active when the sun is down. Check your day's sunrise and sunset times and plan accordingly. You won't want to snorkel when you can't see things anyway!
                    </p>
                </div>
            </div>

            <div>
                <div class="flex justify-center">
                    <div class="flex justify-center">
                        <div class="inline-block w-14 h-14 text-white bg-blue-600 rounded-lg grid place-items-center">
                            <i class="fa-solid fa-users-line text-4xl"></i>
                        </div>
                    </div>
                </div>

                <div>
                    <h1 class="text-2xl font-semibold text-blue-700 text-center mt-4">Always have a buddy</h1>

                    <p class="mt-2 text-base leading-relaxed text-gray-800">
                        Swimming in the open ocean with a friend only increases your safety. You can help each other out if one gets tired and you're more visible to boats and other people. And hey, more eyes means more chances to spot elusive octopi! Respect the ocean and never turn your back from it at all times.
                    </p>
                </div>
            </div>

            <div>
                <div class="flex justify-center">
                    <div class="flex justify-center">
                        <div class="inline-block w-14 h-14 text-white bg-blue-600 rounded-lg grid place-items-center">
                            <i class="fa-solid fa-fish-fins text-4xl"></i>
                        </div>
                    </div>
                </div>

                <div>
                    <h1 class="text-2xl font-semibold text-blue-700 text-center mt-4">Keep a generous distance from the
                        wildlife</h1>

                    <p class="mt-2 text-base leading-relaxed text-gray-800">
                        As tempting as it is to pet that sea turtle, getting too close and touching them brings them
                        more harm thank you think. Wildlife in Hawai'i are protected by the law and should be kept at a
                        safe distance at all times. Help us keep the wildlife safe and learn more through the <a
                            class="text-blue-700 hover:underline transition-all duration-300"
                            href="https://dlnr.hawaii.gov/dobor/protecting-marine-species/" target="_blank">Hawai'i
                            State government's guidelines.</a>
                    </p>
                    <p class="text-base leading-relaxed text-blue-700 mt-3 font-semibold"> Distances to follow
                    <ul class="list-disc ml-6 text-base leading-relaxed text-gray-800 space-y-2">
                        <li>10 feet from sea turtles (on land and in the water)</li>
                        <li>50 feet from Hawaiian monk seals, or behind any signs or barriers</li>
                        <li>50 yards from dolphins and small whales (and do not swim with them)</li>
                        <li>100 yards from humpback whales</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('partials/footer') -%>